

params {
  fastas = null
  ext = "fna"
  project = "TEST"
  outdir = "s3://genomics-workflow-core/Results/BinQC"
}

aws {
  region = "us-west-2"
}

timeline {
  enabled = true
  file = "$params.outdir/$params.project/execution_reports/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/$params.project/execution_reports/report.html"
}