

params {
  fastas = null
  ext = "fna"
  project = "TEST"
  outdir = "s3://genomics-workflow-core/Results/BinQC"
  pplacer_threads = "2"
  checkm_db = "/mnt/efs/databases/CheckM/20150116"
  gtdb_db = "/mnt/efs/databases/GTDB/release202/202.0"
}

aws {
  region = "us-west-2"
}

timeline {
  enabled = true
  file = "$params.outdir/$params.project/execution_reports/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/$params.project/execution_reports/report.html"
}