manifest {
  name = 'BinQC'
  author = 'Sunit Jain'
  homePage = 'https://github.com/fischbachlab/nf-binqc'
  description = 'Analyze MAGs'
  mainScript = 'main.nf'
  version = '0.0.1'
  defaultBranch = 'main' //github branch name
}

params {
  fastas = ""
  ext = "fna"
  project = "00_TEST"
  outdir = "s3://genomics-workflow-core/Results/BinQC"
  checkm_db = "/mnt/efs/databases/checkM/20150116"
  gtdb_db = "/mnt/efs/databases/GTDB/release207_v2"
  pplacer_threads = 20

  // docker_container_seqkit = "quay.io/biocontainers/seqkit:0.12.0--0"
  docker_container_seqkit = "quay.io/biocontainers/seqkit:2.0.0--h9ee0642_0"
  docker_container_barrnap = "quay.io/biocontainers/barrnap:0.9--hdfd78af_4"
  docker_container_checkm = "quay.io/biocontainers/checkm-genome:1.2.1--pyhdfd78af_0"
  //docker_container_checkm = "quay.io/biocontainers/checkm-genome:1.1.3--py_1"
  docker_container_gtdbtk = "quay.io/biocontainers/gtdbtk:2.1.1--pyhdfd78af_1"
  //docker_container_gtdbtk = "quay.io/biocontainers/gtdbtk:1.7.0--pyhdfd78af_0"
}

includeConfig "$baseDir/conf/aws_batch.config"

process {
  maxRetries = 3
	executor = 'awsbatch'
	queue = "default-maf-pipelines"
	cleanup = true
  cache = false

  withName: SEQKIT
  {
    time = '4h'
    cpus = 2
    memory = '4 GB'
    errorStrategy = 'retry'
  }

  withName: BARRNAP
  {
    time = '4h'
    cpus = 2
    memory = '4 GB'
    errorStrategy = 'retry'
  }

  withName: CHECKM
  {
    time = '10h'
    cpus = 15
    memory = '120 GB'
    errorStrategy = 'retry'
  }

  withName: GTDBTK
  {
    time = '10h'
    cpus = 31
    memory = '250 GB'
    errorStrategy = 'retry'
  }
}

timeline {
  enabled = true
  overwrite = true
  file = "$params.outdir/$params.project/execution_reports/timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "$params.outdir/$params.project/execution_reports/report.html"
}

dag {
    enabled = false
    overwrite = true
    file = "$params.outdir/$params.project/execution_reports/pipeline_dag.html"
}
